<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="cartographer_remap" doc="slam type cartographer_remap"/>
  <arg name="open_rviz" default="false"/>
  <arg name="simulation" default= "false"/> 
  <arg name="planner"  default="dwa" doc="opt: dwa, teb"/> 
  
  <param name="/use_sim_time" value="$(arg simulation)" />  

  <!-- simulation robot with lidar and map-->
  <group if="$(arg simulation)">
    <include file="$(find robot_navigation)/simulation/simulation_robot.launch"/>
  </group>

  <!-- robot with lidar -->
  <group unless="$(arg simulation)">
    <include file="$(find robot_navigation)/launch/robot_lidar.launch"/>
  </group>

  <!-- SLAM: Cartographer -->
  <include file="$(find robot_navigation)/launch/includes/cartographer_remap.launch">
    <arg name="simulation"            value="$(arg simulation)"/>
  </include>
  
  <!-- move_base -->
  <group unless="$(eval planner == '')">
    <include file="$(find robot_navigation)/launch/move_base.launch" unless="$(eval planner == '')">
        <arg name="planner"            value="$(arg planner)"/>
    </include>
  </group>

  <!-- Time_counter -->  
  <group if="$(eval slam_methods == 'gmapping')">
    <node pkg="robot_navigation" type="time_count.py" name="time_count" output="screen" />
  </group>

  <!-- remap -->
  <!-- <node name="mapc_node" pkg="robot_navigation" type="remap_map.py" /> -->

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robot_navigation)/rviz/slam.rviz"/>
  </group>
  
</launch>
